In [70]:
from read_dataset import read_fcpc
import pandas as pd
pd.set_option("display.max_rows", 1000)
import seaborn as sns
%matplotlib inline

In [4]:
df = read_fcpc()

In [5]:
df.head()

,DATA,VALOR (R$),CPF,NOME,TIPO DE PAGAMENTO,PROJETO
0,2002-12-10,105.27,***.000.123-**,SANNY MARY ALVES LOPES,RPA,1163 - CT SEDUC/UFC/FCPC-MAGISTERIO/LIC.PLENA
1,2002-11-18,842.14,***.000.123-**,SANNY MARY ALVES LOPES,RPA,1163 - CT SEDUC/UFC/FCPC-MAGISTERIO/LIC.PLENA
2,2003-07-11,970.90,***.000.123-**,SANNY MARY ALVES LOPES,RPA,1163 - CT SEDUC/UFC/FCPC-MAGISTERIO/LIC.PLENA
3,2003-03-20,947.37,***.000.123-**,SANNY MARY ALVES LOPES,RPA,1163 - CT SEDUC/UFC/FCPC-MAGISTERIO/LIC.PLENA
4,2004-12-16,849.74,***.000.123-**,SANNY MARY ALVES LOPES,RPA,1163 - CT SEDUC/UFC/FCPC-MAGISTERIO/LIC.PLENA

In [12]:
df[df.NOME.str.contains("BELISA")]

,DATA,VALOR (R$),CPF,NOME,TIPO DE PAGAMENTO,PROJETO
56783,2005-12-14,800.00,***.908.163-**,BELISA ARAUJO AGUIAR,BOLSA,1520 - CT - CAGECE/FCPC/PORTO DO PECEM
73238,2016-04-08,95.24,***.536.303-**,THAYNARA MAYRA MACIEL BELISARIO,SERVIÇO PRESTADO - RPA,3196 - CT - UFC/FCPC-CASAS DE CULTURA UFC-TEST...

In [18]:
df.groupby('PROJETO')['VALOR (R$)'].sum().nlargest(10)

PROJETO
0101 - FCPC                                                                            17147275.46
1089 - RESCISAO CONTRATUAL                                                              9533010.46
3098 - CT - FCPC/IPLANFOR - PLANO ESTRATÉGICO FORTALEZA 2040                            7373401.34
2924 - CT - UFC/FCPC - IMPLANTACAO E OFERTA DOS CURSOS DE GRADUACAO DA UAB/UFC 2012     7011570.34
2922 - CT - PETROBRAS - PROJETO AMBES                                                   5753658.23
3143 - TC - LG/UFC/FCPC - MOBILE, TOOLS & CAS                                           5697163.62
3052 - TERMO DE COOPERACAO LG/UFC/FCPC - PT 12                                          4664572.56
3053 - TERMO DE COOPERACAO LG/UFC/FCPC - PT 13                                          3678659.23
3022 - CT - UFC/FCPC - CURSO DE ESPECIALIZAÇÃO EM SAUDE DA FAMILIA                      3326654.89
2208 - CT-FCPC/UFC - EDUCACAO NA SAUDE-UNASUS                                           3152114.47
Name: VALOR (R$), dtype: float64

In [77]:
def galera(quem):
    
    if type(quem) == str:
        
        quem = df[df.NOME == quem]
    
    totais_por_mes = quem.groupby(['NOME', quem.DATA.dt.year, quem.DATA.dt.month])['VALOR (R$)'].sum().unstack()
    totais_por_mes['total'] = totais_por_mes.sum(axis=1)
    
    return totais_por_mes

In [78]:
projeto = df[df.PROJETO == '1520 - CT - CAGECE/FCPC/PORTO DO PECEM']

galera(projeto)

DATA                                           1       2        3       4  \
NOME                               DATA
ANA JAQUELINE DE ALMEIDA GOMES     2005      NaN     NaN      NaN     NaN
                                   2006  1483.33     NaN      NaN     NaN
                                   2007   900.00     NaN      NaN     NaN
ANTONIO CESSAR GADELHA DO REGO     2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN  1000.00     NaN
                                   2007      NaN     NaN   750.00     NaN
BELISA ARAUJO AGUIAR               2005      NaN     NaN      NaN     NaN
BRENO GUSTAVO BEZERRA COSTA        2007   900.00     NaN      NaN     NaN
CARMEN SUZANA LIMA                 2006      NaN     NaN      NaN     NaN
                                   2007   500.00     NaN      NaN     NaN
CELIA MARIA FREITAS FREIRE         2005      NaN     NaN      NaN     NaN
                                   2006  1900.00  1000.0   700.00  2000.0
                                   2007  1900.00   750.0      NaN     NaN
CELSO BRITO DA SILVA FILHO         2005      NaN     NaN      NaN     NaN
                                   2006      NaN  1200.0      NaN  1200.0
                                   2007  1200.00     NaN      NaN     NaN
CLEOMAR FERREIRA SANTOS LIRA       2005      NaN     NaN      NaN     NaN
CLERTON SAVIO S DE CARVALHO BRAGA  2006      NaN     NaN      NaN     NaN
CRISTINA DE ALMEIDA ROCHA BARREIRA 2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN      NaN  1800.0
DANIEL XAVIER ARAUJO               2005      NaN     NaN      NaN     NaN
DIEGO FERREIRA DE CASTRO           2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN      NaN     NaN
                                   2007   900.00     NaN      NaN     NaN
FLAVIA CASTELO BATISTA MAGALHAES   2007      NaN   540.1      NaN     NaN
FRANCISCO CLEYTON LOPES RODRIGUES  2007      NaN  3900.0      NaN     NaN
FRANCISCO JOSE DA SILVA DIAS       2006      NaN     NaN   900.00     NaN
                                   2007      NaN   900.0      NaN     NaN
FRANCISCO SANDRO D VASCONCELOS     2006      NaN     NaN      NaN     NaN
HELOISA CUNHA DE SOUZA             2006   600.00     NaN      NaN     NaN
IGOR LE LONNES BRITO DA SILVA      2007      NaN   900.0      NaN     NaN
IRANILDO MAIA DE SOUZA             2007      NaN   900.0      NaN     NaN
JOSE EDVAR AGUIAR                  2007      NaN   900.0      NaN     NaN
JOSE LASSANCE DE CASTRO SILVA      2005      NaN     NaN      NaN     NaN
JOSE OTACILIO DE LIMA              2006      NaN     NaN      NaN     NaN
                                   2007      NaN     NaN  1500.00     NaN
JOSE TRINDADE SILVA                2006      NaN     NaN  1500.00     NaN
JUAREZ COELHO BARROSO              2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN      NaN     NaN
                                   2007   900.00     NaN      NaN     NaN
KATIA DE JULIO                     2007   900.00     NaN      NaN     NaN
LEONARDO HISLEI UCHOA MONTEIRO     2005      NaN     NaN      NaN     NaN
                                   2006  2600.00     NaN  2100.00     NaN
                                   2007   900.00     NaN      NaN     NaN
LUIS PARENTE MAIA                  2005      NaN     NaN      NaN     NaN
                                   2006      NaN  2100.0      NaN  2100.0
                                   2007  2100.00  2100.0      NaN     NaN
LUIZ CARLOS DIAS PINHEIRO          2006      NaN     NaN      NaN     NaN
LUIZ DRUDE DE LACERDA              2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN      NaN  1000.0
                                   2007  1000.00     NaN      NaN     NaN
LUIZ JOSE CRUZ BEZERRA             2005      NaN     NaN      NaN     NaN
                                   2006   900.00     NaN   900.00   300.0
                                   2007  1500.00     NaN      NaN     NaN
MARIA DA GLORIA G DA S CUNHA       2006      NaN     NaN      NaN     NaN
                                   2007  3000.00     NaN      NaN     NaN
MARIA ODETE PARENTE MOREIRA        2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN   800.00     NaN
                                   2007   800.00     NaN      NaN     NaN
MARIZETE NOGUEIRA RIOS             2006  1400.00     NaN   900.00   900.0
MAURO FERREIRA LIMA                2006      NaN     NaN      NaN     NaN
MIGUEL SAVIO DE CARVALHO BRAGA     2005      NaN     NaN      NaN     NaN
                                   2006   200.00   200.0      NaN     NaN
MONICA PIMENTA DE N CASTELO BRANCO 2005      NaN     NaN      NaN     NaN
                                   2006  1500.00     NaN   240.00  1500.0
                                   2007  1500.00     NaN      NaN     NaN
NORMA PINHEIRO DANTAS              2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN      NaN   700.0
                                   2007   700.00     NaN      NaN     NaN
PAULO ROBERTO F G DA SILVA         2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN      NaN   200.0
PEDRO ALEXANDRE VALENTIM NETO      2006      NaN     NaN   900.00   900.0
RAIMUNDO NONATO DE LIMA CONCEICAO  2005      NaN     NaN      NaN     NaN
                                   2006   900.00     NaN      NaN     NaN
RAIMUNDO NONATO JUNIOR             2005      NaN     NaN      NaN     NaN
RAUL MARIO MALVINO MADRID          2006      NaN     NaN   939.15     NaN
REYNALDO AMORIM MARINHO            2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN  2563.49     NaN
                                   2007  1000.00  2000.0      NaN     NaN
RODRIGO DE SALLES                  2006      NaN     NaN  1100.00     NaN
ROGERIO CESAR PEREIRA DE ARAUJO    2007      NaN   540.1      NaN     NaN
RONALDO RUY DE OLIVEIRA FILHO      2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN      NaN     NaN
                                   2007      NaN  1200.0      NaN     NaN
SALUSTIANO CAVALCANTE DE A NETO    2005      NaN     NaN      NaN     NaN
                                   2006   714.29     NaN      NaN     NaN
SIRLEIS RODRIGUES LACERDA          2006      NaN     NaN      NaN     NaN
                                   2007  3900.00     NaN      NaN     NaN
TACITO SEREJO ARAUJO BOMFIM        2005      NaN     NaN      NaN     NaN
                                   2006   250.00   250.0      NaN   250.0
                                   2007   600.00   300.0      NaN     NaN
TATIANA MARTINS GARCIA             2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN  1500.00     NaN
THIAGO HOLANDA BASILIO             2006      NaN     NaN   900.00     NaN
WILSON FRANKLIN JUNIOR             2005      NaN     NaN      NaN     NaN
                                   2006      NaN     NaN   900.00   400.0

DATA                                          5       6      7      10  \
NOME                               DATA
ANA JAQUELINE DE ALMEIDA GOMES     2005     NaN     NaN    NaN   640.0
                                   2006     NaN     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
ANTONIO CESSAR GADELHA DO REGO     2005     NaN     NaN    NaN     NaN
                                   2006     NaN  1000.0    NaN  1000.0
                                   2007     NaN     NaN    NaN     NaN
BELISA ARAUJO AGUIAR               2005     NaN     NaN    NaN     NaN
BRENO GUSTAVO BEZERRA COSTA        2007     NaN     NaN    NaN     NaN
CARMEN SUZANA LIMA                 2006     NaN     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
CELIA MARIA FREITAS FREIRE         2005     NaN     NaN    NaN     NaN
                                   2006  1000.0  1000.0    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
CELSO BRITO DA SILVA FILHO         2005     NaN     NaN    NaN     NaN
                                   2006  1200.0  1200.0    NaN  1200.0
                                   2007     NaN     NaN    NaN     NaN
CLEOMAR FERREIRA SANTOS LIRA       2005     NaN     NaN    NaN     NaN
CLERTON SAVIO S DE CARVALHO BRAGA  2006   300.0   300.0  300.0   300.0
CRISTINA DE ALMEIDA ROCHA BARREIRA 2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN     NaN
DANIEL XAVIER ARAUJO               2005     NaN     NaN    NaN     NaN
DIEGO FERREIRA DE CASTRO           2005     NaN     NaN    NaN     NaN
                                   2006  1200.0     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
FLAVIA CASTELO BATISTA MAGALHAES   2007     NaN     NaN    NaN     NaN
FRANCISCO CLEYTON LOPES RODRIGUES  2007     NaN     NaN    NaN     NaN
FRANCISCO JOSE DA SILVA DIAS       2006     NaN     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
FRANCISCO SANDRO D VASCONCELOS     2006     NaN     NaN    NaN     NaN
HELOISA CUNHA DE SOUZA             2006     NaN     NaN    NaN     NaN
IGOR LE LONNES BRITO DA SILVA      2007     NaN     NaN    NaN     NaN
IRANILDO MAIA DE SOUZA             2007     NaN     NaN    NaN     NaN
JOSE EDVAR AGUIAR                  2007     NaN     NaN    NaN     NaN
JOSE LASSANCE DE CASTRO SILVA      2005     NaN     NaN    NaN     NaN
JOSE OTACILIO DE LIMA              2006  1000.0     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
JOSE TRINDADE SILVA                2006     NaN     NaN    NaN     NaN
JUAREZ COELHO BARROSO              2005     NaN     NaN    NaN     NaN
                                   2006  1200.0     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
KATIA DE JULIO                     2007     NaN     NaN    NaN     NaN
LEONARDO HISLEI UCHOA MONTEIRO     2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
LUIS PARENTE MAIA                  2005     NaN     NaN    NaN     NaN
                                   2006  2100.0     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
LUIZ CARLOS DIAS PINHEIRO          2006     NaN     NaN    NaN     NaN
LUIZ DRUDE DE LACERDA              2005     NaN     NaN    NaN     NaN
                                   2006  3000.0     NaN    NaN  2000.0
                                   2007     NaN     NaN    NaN     NaN
LUIZ JOSE CRUZ BEZERRA             2005     NaN     NaN    NaN   600.0
                                   2006   600.0   300.0    NaN   300.0
                                   2007     NaN     NaN    NaN     NaN
MARIA DA GLORIA G DA S CUNHA       2006     NaN     NaN    NaN  1500.0
                                   2007     NaN     NaN    NaN     NaN
MARIA ODETE PARENTE MOREIRA        2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN   800.0
                                   2007     NaN     NaN    NaN     NaN
MARIZETE NOGUEIRA RIOS             2006     NaN     NaN    NaN     NaN
MAURO FERREIRA LIMA                2006     NaN     NaN    NaN     NaN
MIGUEL SAVIO DE CARVALHO BRAGA     2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN     NaN
MONICA PIMENTA DE N CASTELO BRANCO 2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN  1500.0
                                   2007     NaN     NaN    NaN     NaN
NORMA PINHEIRO DANTAS              2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN   700.0
                                   2007     NaN     NaN    NaN     NaN
PAULO ROBERTO F G DA SILVA         2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN   200.0
PEDRO ALEXANDRE VALENTIM NETO      2006     NaN     NaN    NaN     NaN
RAIMUNDO NONATO DE LIMA CONCEICAO  2005     NaN     NaN    NaN     NaN
                                   2006  1800.0     NaN    NaN  3000.0
RAIMUNDO NONATO JUNIOR             2005     NaN     NaN    NaN     NaN
RAUL MARIO MALVINO MADRID          2006     NaN     NaN    NaN     NaN
REYNALDO AMORIM MARINHO            2005     NaN     NaN    NaN     NaN
                                   2006  1120.0     NaN    NaN  2000.0
                                   2007     NaN     NaN    NaN     NaN
RODRIGO DE SALLES                  2006     NaN     NaN    NaN     NaN
ROGERIO CESAR PEREIRA DE ARAUJO    2007     NaN     NaN    NaN     NaN
RONALDO RUY DE OLIVEIRA FILHO      2005     NaN     NaN    NaN     NaN
                                   2006  1200.0     NaN    NaN     NaN
                                   2007     NaN     NaN    NaN     NaN
SALUSTIANO CAVALCANTE DE A NETO    2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN     NaN
SIRLEIS RODRIGUES LACERDA          2006     NaN     NaN    NaN  1950.0
                                   2007     NaN     NaN    NaN     NaN
TACITO SEREJO ARAUJO BOMFIM        2005     NaN     NaN    NaN     NaN
                                   2006   500.0     NaN    NaN   300.0
                                   2007     NaN     NaN    NaN     NaN
TATIANA MARTINS GARCIA             2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN     NaN
THIAGO HOLANDA BASILIO             2006     NaN     NaN    NaN     NaN
WILSON FRANKLIN JUNIOR             2005     NaN     NaN    NaN     NaN
                                   2006     NaN     NaN    NaN     NaN

DATA                                          11      12    total
NOME                               DATA
ANA JAQUELINE DE ALMEIDA GOMES     2005   833.33  1080.0  2553.33
                                   2006   833.33     NaN  2316.66
                                   2007      NaN     NaN   900.00
ANTONIO CESSAR GADELHA DO REGO     2005      NaN  1000.0  1000.00
                                   2006      NaN     NaN  3000.00
                                   2007      NaN     NaN   750.00
BELISA ARAUJO AGUIAR               2005      NaN   800.0   800.00
BRENO GUSTAVO BEZERRA COSTA        2007      NaN     NaN   900.00
CARMEN SUZANA LIMA                 2006   500.00     NaN   500.00
                                   2007      NaN     NaN   500.00
CELIA MARIA FREITAS FREIRE         2005  2740.00  1840.0  4580.00
                                   2006  2000.00     NaN  9600.00
                                   2007      NaN     NaN  2650.00
CELSO BRITO DA SILVA FILHO         2005  1200.00  1200.0  2400.00
                                   2006      NaN     NaN  6000.00
                                   2007      NaN     NaN  1200.00
CLEOMAR FERREIRA SANTOS LIRA       2005      NaN  1200.0  1200.00
CLERTON SAVIO S DE CARVALHO BRAGA  2006      NaN     NaN  1200.00
CRISTINA DE ALMEIDA ROCHA BARREIRA 2005      NaN  3000.0  3000.00
                                   2006      NaN     NaN  1800.00
DANIEL XAVIER ARAUJO               2005      NaN  1200.0  1200.00
DIEGO FERREIRA DE CASTRO           2005      NaN   600.0   600.00
                                   2006      NaN     NaN  1200.00
                                   2007      NaN     NaN   900.00
FLAVIA CASTELO BATISTA MAGALHAES   2007      NaN     NaN   540.10
FRANCISCO CLEYTON LOPES RODRIGUES  2007      NaN     NaN  3900.00
FRANCISCO JOSE DA SILVA DIAS       2006      NaN     NaN   900.00
                                   2007      NaN     NaN   900.00
FRANCISCO SANDRO D VASCONCELOS     2006   430.00     NaN   430.00
HELOISA CUNHA DE SOUZA             2006      NaN     NaN   600.00
IGOR LE LONNES BRITO DA SILVA      2007      NaN     NaN   900.00
IRANILDO MAIA DE SOUZA             2007      NaN     NaN   900.00
JOSE EDVAR AGUIAR                  2007      NaN     NaN   900.00
JOSE LASSANCE DE CASTRO SILVA      2005      NaN  2000.0  2000.00
JOSE OTACILIO DE LIMA              2006   500.00     NaN  1500.00
                                   2007      NaN     NaN  1500.00
JOSE TRINDADE SILVA                2006      NaN     NaN  1500.00
JUAREZ COELHO BARROSO              2005      NaN   600.0   600.00
                                   2006      NaN     NaN  1200.00
                                   2007      NaN     NaN   900.00
KATIA DE JULIO                     2007      NaN     NaN   900.00
LEONARDO HISLEI UCHOA MONTEIRO     2005   900.00   840.0  1740.00
                                   2006      NaN     NaN  4700.00
                                   2007      NaN     NaN   900.00
LUIS PARENTE MAIA                  2005  2100.00  2100.0  4200.00
                                   2006      NaN     NaN  6300.00
                                   2007      NaN     NaN  4200.00
LUIZ CARLOS DIAS PINHEIRO          2006   715.00     NaN   715.00
LUIZ DRUDE DE LACERDA              2005  1000.00     NaN  1000.00
                                   2006      NaN     NaN  6000.00
                                   2007      NaN     NaN  1000.00
LUIZ JOSE CRUZ BEZERRA             2005      NaN  1140.0  1740.00
                                   2006      NaN     NaN  3300.00
                                   2007      NaN     NaN  1500.00
MARIA DA GLORIA G DA S CUNHA       2006      NaN     NaN  1500.00
                                   2007      NaN     NaN  3000.00
MARIA ODETE PARENTE MOREIRA        2005      NaN  2000.0  2000.00
                                   2006      NaN     NaN  1600.00
                                   2007      NaN     NaN   800.00
MARIZETE NOGUEIRA RIOS             2006      NaN     NaN  3200.00
MAURO FERREIRA LIMA                2006  1200.00     NaN  1200.00
MIGUEL SAVIO DE CARVALHO BRAGA     2005      NaN   400.0   400.00
                                   2006      NaN     NaN   400.00
MONICA PIMENTA DE N CASTELO BRANCO 2005      NaN  3000.0  3000.00
                                   2006      NaN     NaN  4740.00
                                   2007      NaN     NaN  1500.00
NORMA PINHEIRO DANTAS              2005      NaN   640.0   640.00
                                   2006      NaN     NaN  1400.00
                                   2007      NaN     NaN   700.00
PAULO ROBERTO F G DA SILVA         2005      NaN  1000.0  1000.00
                                   2006      NaN     NaN   400.00
PEDRO ALEXANDRE VALENTIM NETO      2006      NaN     NaN  1800.00
RAIMUNDO NONATO DE LIMA CONCEICAO  2005      NaN   900.0   900.00
                                   2006      NaN     NaN  5700.00
RAIMUNDO NONATO JUNIOR             2005      NaN   120.0   120.00
RAUL MARIO MALVINO MADRID          2006      NaN     NaN   939.15
REYNALDO AMORIM MARINHO            2005      NaN  2280.0  2280.00
                                   2006      NaN     NaN  5683.49
                                   2007      NaN     NaN  3000.00
RODRIGO DE SALLES                  2006      NaN     NaN  1100.00
ROGERIO CESAR PEREIRA DE ARAUJO    2007      NaN     NaN   540.10
RONALDO RUY DE OLIVEIRA FILHO      2005      NaN   600.0   600.00
                                   2006      NaN     NaN  1200.00
                                   2007      NaN     NaN  1200.00
SALUSTIANO CAVALCANTE DE A NETO    2005   714.29     NaN   714.29
                                   2006      NaN     NaN   714.29

In [79]:
barone = df[df.NOME.str.contains("BARONE")]

galera(barone)

DATA                                       1         2         3         4  \
NOME                           DATA
BIANCA STEPHANI BARONE MARTINS 2010      NaN   1187.00       NaN       NaN
                               2011      NaN       NaN       NaN       NaN
                               2013  1191.00       NaN   1190.48   1190.48
                               2014  1207.14   2450.00       NaN    286.00
                               2015      NaN       NaN       NaN       NaN
                               2016      NaN       NaN       NaN   7000.00
NIDIA FERNANDA BARONE MARTINS  2002      NaN       NaN       NaN       NaN
                               2003      NaN       NaN       NaN       NaN
                               2004      NaN       NaN       NaN       NaN
                               2005      NaN       NaN       NaN       NaN
                               2006      NaN       NaN       NaN       NaN
                               2007      NaN       NaN       NaN       NaN
                               2008      NaN       NaN       NaN       NaN
                               2009      NaN       NaN       NaN       NaN
                               2010      NaN   2230.00       NaN   2369.00
                               2011      NaN       NaN   2183.00       NaN
                               2013  1953.24   2000.00   2708.00   2000.00
                               2014  3270.27   3737.11   2858.00   2404.00
                               2015  2500.00   2500.00   4096.31   2904.00
                               2016      NaN   5429.00   2162.85   2246.18
                               2017  2372.44       NaN       NaN       NaN
NIDIA MARIA BARONE             2002      NaN       NaN       NaN       NaN
                               2003      NaN       NaN       NaN       NaN
                               2004      NaN       NaN       NaN       NaN
                               2005      NaN       NaN       NaN       NaN
                               2006      NaN       NaN       NaN       NaN
                               2007      NaN       NaN       NaN       NaN
                               2008      NaN       NaN       NaN       NaN
                               2009      NaN       NaN       NaN       NaN
                               2010      NaN  21489.00       NaN  10756.00
                               2011      NaN       NaN  10000.00  10000.00
                               2012  3500.00   3500.00   3765.50   3500.00
                               2013  5000.00   3640.00   3640.00   3640.00
                               2014  7987.24   6792.39   4792.39   6162.39
                               2015  4792.39   6317.25   6339.16   4792.39
                               2016      NaN   6754.04   3780.95   3940.69
                               2017  4139.02       NaN       NaN       NaN

DATA                                       5         6        7        8  \
NOME                           DATA
BIANCA STEPHANI BARONE MARTINS 2010      NaN       NaN      NaN      NaN
                               2011      NaN       NaN      NaN      NaN
                               2013  2380.96       NaN  1243.59      NaN
                               2014      NaN       NaN      NaN      NaN
                               2015      NaN       NaN      NaN      NaN
                               2016      NaN       NaN      NaN  5280.00
NIDIA FERNANDA BARONE MARTINS  2002      NaN       NaN      NaN      NaN
                               2003      NaN       NaN      NaN      NaN
                               2004      NaN       NaN      NaN      NaN
                               2005      NaN       NaN      NaN      NaN
                               2006      NaN       NaN      NaN      NaN
                               2007      NaN       NaN      NaN      NaN
                               2008      NaN       NaN      NaN      NaN
                               2009      NaN       NaN      NaN      NaN
                               2010      NaN   3272.00      NaN      NaN
                               2011      NaN       NaN      NaN      NaN
                               2013  2708.00   2000.00  2000.00  2177.00
                               2014  2404.00   3090.91  2000.00  2000.00
                               2015  2500.00   2500.00  2500.00  3692.31
                               2016  2246.18   2246.18  2246.18  5714.94
                               2017      NaN       NaN      NaN      NaN
NIDIA MARIA BARONE             2002      NaN       NaN      NaN      NaN
                               2003      NaN       NaN      NaN      NaN
                               2004      NaN       NaN      NaN      NaN
                               2005      NaN       NaN      NaN      NaN
                               2006      NaN       NaN      NaN      NaN
                               2007      NaN       NaN      NaN      NaN
                               2008      NaN       NaN      NaN      NaN
                               2009      NaN       NaN      NaN      NaN
                               2010      NaN       NaN      NaN  9333.00
                               2011      NaN  20000.00  3518.00  3500.00
                               2012  3500.00   3500.00  3640.00  3640.00
                               2013  3640.00   4792.39  4792.39  4792.39
                               2014  4792.39   4792.39  6162.39  4792.39
                               2015  4792.39   4792.39  6993.34  4792.39
                               2016  3940.69   9219.29      NaN  5605.57
                               2017      NaN       NaN      NaN      NaN

DATA                                        9       10       11        12  \
NOME                           DATA
BIANCA STEPHANI BARONE MARTINS 2010       NaN      NaN  5472.00       NaN
                               2011  29150.00      NaN      NaN       NaN
                               2013       NaN      NaN      NaN       NaN
                               2014       NaN      NaN      NaN       NaN
                               2015   5900.00  5900.00  5900.00       NaN
                               2016       NaN  5000.00      NaN       NaN
NIDIA FERNANDA BARONE MARTINS  2002       NaN      NaN      NaN   7656.11
                               2003       NaN      NaN      NaN   6500.00
                               2004       NaN      NaN      NaN   4000.00
                               2005       NaN      NaN      NaN   4000.00
                               2006       NaN      NaN      NaN   5090.91
                               2007       NaN      NaN      NaN   4000.00
                               2008       NaN      NaN      NaN   4000.00
                               2009       NaN      NaN      NaN   5863.64
                               2010   3578.00      NaN  1950.00       NaN
                               2011  29280.00      NaN      NaN       NaN
                               2013   2177.00  3334.23  3000.00   4109.46
                               2014   4267.64  2904.00  3750.00   5331.44
                               2015   2500.00  3294.77  3750.00   3960.31
                               2016    631.04  2246.18  3552.54   3225.81
                               2017       NaN      NaN      NaN       NaN
NIDIA MARIA BARONE             2002       NaN      NaN      NaN  18724.78
                               2003       NaN      NaN      NaN  16724.78
                               2004       NaN      NaN      NaN  13302.39
                               2005       NaN      NaN      NaN  11932.39
                               2006       NaN      NaN      NaN  13084.78
                               2007       NaN      NaN  3518.00  14594.78
                               2008       NaN      NaN  3500.00  13224.78
                               2009       NaN      NaN  3500.00  13224.78
                               2010       NaN  6489.00      NaN       NaN
                               2011   3500.00  3500.00  5979.50   5395.86
                               2012   4236.50  3640.00  5460.00   7280.00
                               2013   4792.39  7141.22  7188.58   9780.52
                               2014   4792.39  4792.39  8558.58  10093.94
                               2015   4792.39  4792.39  7188.59   7522.73
                               2016   3940.69  3940.69  6444.92   5514.77
                               2017       NaN      NaN      NaN       NaN

DATA                                    total
NOME                           DATA
BIANCA STEPHANI BARONE MARTINS 2010   6659.00
                               2011  29150.00
                               2013   7196.51
                               2014   3943.14
                               2015  17700.00
                               2016  17280.00
NIDIA FERNANDA BARONE MARTINS  2002   7656.11
                               2003   6500.00
                               2004   4000.00
                               2005   4000.00
                               2006   5090.91
                               2007   4000.00
                               2008   4000.00
                               2009   5863.64
                               2010  13399.00
                               2011  31463.00
                               2013  30166.93
                               2014  38017.37
                               2015  36697.70
                               2016  31947.08
                               2017   2372.44
NIDIA MARIA BARONE             2002  18724.78
                               2003  16724.78
                               2004  13302.39
                               2005  11932.39
                               2006  13084.78
                               2007  18112.78
                               2008  16724.78
                               2009  16724.78
                               2010  48067.00
                               2011  65393.36
                               2012  49162.00
                               2013  62839.88
                               2014  74511.27
                               2015  67907.80
                               2016  53082.30
                               2017   4139.02

In [83]:
serv_ufc = pd.read_csv("../../dataset-remuneracao-federal/NOME.csv")

In [85]:
df_ufc = df[df.NOME.isin(serv_ufc.NOME)]

In [91]:
df_ufc['TIPO DE PAGAMENTO'].unique()

array(['RPA', 'ADIANTAMENTO PARA VIAGEM', 'BOLSA',
       'ADIANTAMENTO PARA DESPESAS', 'LIQUIDO DA FOLHA',
       'FOLHA DE PAGAMENTO - CLT', 'SERVIÇO PRESTADO - RPA',
       'ADIANTAMENTO PARA VIAGENS', 'RESSARCIMENTO DE DESPESA',
       'ADIANTAMENTOS', 'DIÁRIAS', 'DIARIAS',
       'SERVIÇOS DE TERCEIROS - PESSOA FÍSICA',
       'RESSARCIMENTO de DESPESA [ressarcimento]'], dtype=object)

In [94]:
rpa = df_ufc[df_ufc['TIPO DE PAGAMENTO']\
                       .isin(['RPA', 'SERVIÇO PRESTADO - RPA', 'SERVIÇOS DE TERCEIROS - PESSOA FÍSICA'])]
top_3_ufc_rpa = rpa\
.groupby('NOME')['VALOR (R$)']\
.sum().nlargest(3).index

galera(rpa[rpa.NOME.isin(top_3_ufc_rpa)])

DATA                                  1         2         3         4  \
NOME                     DATA
HELANO DE SOUSA CASTRO   2003       NaN       NaN       NaN   5600.00
                         2004       NaN       NaN    981.05       NaN
                         2009       NaN       NaN       NaN       NaN
                         2010       NaN  26064.84  19729.35       NaN
                         2011  34816.10  34816.10  34965.14       NaN
                         2012   3317.00   3317.00   3317.00   3317.00
                         2013   3317.00   3317.00   3317.00   3500.00
JAVAM DE CASTRO MACHADO  2003       NaN       NaN       NaN       NaN
                         2004   1050.00   1050.00       NaN       NaN
                         2005       NaN       NaN   1200.00       NaN
                         2006       NaN       NaN       NaN       NaN
                         2009       NaN       NaN  13793.11  10060.37
                         2010       NaN   7200.00       NaN  24000.00
                         2011  15977.58  15977.58  15977.58       NaN
                         2012  12000.00  12000.00  12000.00  12000.00
                         2013   8000.00  12000.00   8000.00       NaN
                         2014   7500.00       NaN       NaN   4000.00
                         2015       NaN   1800.00       NaN       NaN
                         2016   7850.00   5650.00   4400.00   6900.00
                         2017   5822.50       NaN       NaN       NaN
LUIZ ROBERTO DE OLIVEIRA 2009       NaN       NaN       NaN  15396.24
                         2010       NaN  23094.36       NaN  42793.56
                         2011       NaN  35095.44       NaN       NaN
                         2012   7698.12       NaN   3849.06   9849.60
                         2013       NaN  13560.00       NaN       NaN
                         2014  13560.00       NaN       NaN       NaN
                         2015       NaN       NaN  13560.00       NaN
                         2016  13560.00   5000.00   5000.00   5000.00
                         2017   5000.00  18560.00       NaN       NaN

DATA                                  5         6         7         8  \
NOME                     DATA
HELANO DE SOUSA CASTRO   2003       NaN       NaN       NaN       NaN
                         2004       NaN       NaN       NaN       NaN
                         2009  26064.84       NaN       NaN       NaN
                         2010  14061.98       NaN       NaN  34938.88
                         2011  34918.94       NaN       NaN       NaN
                         2012   3317.00   3317.00   3317.00   5610.62
                         2013       NaN   3317.00   3317.00   3317.00
JAVAM DE CASTRO MACHADO  2003       NaN   1000.00       NaN       NaN
                         2004       NaN   1500.00       NaN       NaN
                         2005       NaN       NaN   3000.00       NaN
                         2006       NaN       NaN       NaN   1200.00
                         2009       NaN       NaN       NaN  14256.92
                         2010       NaN       NaN  15000.00       NaN
                         2011  18717.64       NaN  18000.00   6000.00
                         2012  12000.00   8000.00  12000.00   9000.00
                         2013  13200.00   6000.00       NaN       NaN
                         2014       NaN   2270.00       NaN   1700.00
                         2015       NaN       NaN       NaN       NaN
                         2016  19770.00   7530.00   4080.00   4080.00
                         2017       NaN       NaN       NaN       NaN
LUIZ ROBERTO DE OLIVEIRA 2009       NaN   3849.06  15396.24       NaN
                         2010       NaN       NaN       NaN       NaN
                         2011       NaN  19699.20       NaN   2500.00
                         2012   9849.60  13560.00   6400.00  13120.80
                         2013  13560.00       NaN       NaN  13560.00
                         2014  13560.00       NaN   6780.00       NaN
                         2015       NaN       NaN       NaN       NaN
                         2016  18560.00   5000.00   5000.00  23560.00
                         2017       NaN       NaN       NaN       NaN

DATA                                 9        10        11        12  \
NOME                     DATA
HELANO DE SOUSA CASTRO   2003      NaN   4000.00       NaN       NaN
                         2004      NaN       NaN       NaN       NaN
                         2009      NaN  24500.00       NaN  26064.84
                         2010      NaN       NaN  34816.10       NaN
                         2011      NaN  13000.00       NaN   8817.01
                         2012   8817.0   4627.79   3317.00   3317.00
                         2013   3792.5   3792.50   3792.50   3792.50
JAVAM DE CASTRO MACHADO  2003      NaN       NaN       NaN       NaN
                         2004      NaN    561.81   1200.00       NaN
                         2005      NaN       NaN       NaN       NaN
                         2006      NaN       NaN       NaN       NaN
                         2009      NaN       NaN       NaN  24000.00
                         2010      NaN  18500.00  15977.58  15977.58
                         2011  12000.0       NaN  12000.00  12000.00
                         2012      NaN       NaN       NaN  10900.00
                         2013   3200.0       NaN   5000.00   5000.00
                         2014      NaN       NaN   1800.00   1705.00
                         2015      NaN   1900.00       NaN       NaN
                         2016   4080.0  14490.00  14302.50   7972.50
                         2017      NaN       NaN       NaN       NaN
LUIZ ROBERTO DE OLIVEIRA 2009      NaN       NaN  11547.18  19699.20
                         2010      NaN  19699.20       NaN       NaN
                         2011   3500.0       NaN  19245.30   3000.00
                         2012  13560.0       NaN       NaN       NaN
                         2013      NaN   6780.00  13560.00       NaN
                         2014  13560.0  13560.00       NaN       NaN
                         2015      NaN       NaN       NaN       NaN
                         2016      NaN  18560.00       NaN  18560.00
                         2017      NaN       NaN       NaN       NaN

DATA                               total
NOME                     DATA
HELANO DE SOUSA CASTRO   2003    9600.00
                         2004     981.05
                         2009   76629.68
                         2010  129611.15
                         2011  161333.29
                         2012   48908.41
                         2013   38572.00
JAVAM DE CASTRO MACHADO  2003    1000.00
                         2004    5361.81
                         2005    4200.00
                         2006    1200.00
                         2009   62110.40
                         2010   96655.16
                         2011  126650.38
                         2012   99900.00
                         2013   60400.00
                         2014   18975.00
                         2015    3700.00
                         2016  101105.00
                         2017    5822.50
LUIZ ROBERTO DE OLIVEIRA 2009   65887.92
                         2010   85587.12
                         2011   83039.94
                         2012   77887.18
                         2013   61020.00
                         2014   61020.00
                         2015   13560.00
                         2016  117800.00
                         2017   23560.00